# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
*/env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
examples/images

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
data
close_cab_checkpoints
close_cab_tb
open_cab_checkpoints
open_cab_tb
pick_checkpoints
pick_tb
r3m_pick_checkpoints
r3m_pick_tb
tb
tb_rearrange_easy
video_dir
video_dir_rearrange_easy
hierarchical_checkpoints
hierarchical_tb
kaust_nav_clip_tb
kaust_nav_r3m_tb
kaust_nav_vip_tb
kaust_pick_clip_tb
kaust_pick_r3m_tb
kaust_pick_vip_tb
kaust_place_clip_tb
kaust_place_r3m_tb
nav_to_obj_tb
visual_encoder
r3m_nav_dist_tb




# Mac OS-specific storage files
.DS_Store

# mypy
.mypy_cache/

# vim
*.swp
